= simple_form_for kind do |f| 
  .input-row
    = f.input :name
    = f.input :price
    = f.input :percent
    = f.input :cash_turnover_type, as: :select, collection: ['income', 'expense']
    = f.button :submit
