.wrapper
  %h1= t('.title')

  %table
    %tr
      %th= table_attribute_name Kind, :name
      %th= table_attribute_name Kind, :price
      %th= table_attribute_name Kind, :percent

    - @kinds.each do |kind| 
      %tr
        %td= link_to kind.name, kind_path(kind)
        %td= kind.price
        %td= kind.percent

        %td= link_to t('.destroy'), kind_path(kind), method: :delete, data: { confirm: t('.confirm') }

  = link_to t('.new'), new_kind_path
