= form_for cash_turnover do |f| 
  .input-row
    = f.label :name, class: 'label'
    = f.text_field :name, class: 'textfield' 

  .input-row
    = f.label :state, class: 'label'
    = f.select :state, options_for_select(['paid', 'unpaid', 'in process' ]), class: 'select'

  .input-row
    = f.label :kind, class: 'label'
    = f.select :kind, options_for_select(['Work income', 'Other income' 'Water expenses', 'Electricity expenses', 'Heat expenses', 'Land expenses', 'Food expenses', 'Other expenses' ]),  class: 'select'

  .input-row
    = f.label :price, class: 'label'
    = f.text_field :price, class: 'textfield'

  .input-row
    = f.label :priority, class: 'label'
    = f.number_field :priority, class: 'textfield'

  .input-row
    = f.label :description, class: 'label'
    = f.text_area :description, class: 'textarea' 

  .input-row
    = f.submit t('.submit'), class: 'submit'
