= simple_form_for cash_turnover do |f| 
  .input-row
    = f.input :name, class: 'label'
    = f.input :state, as: :select, collection: ['paid', 'unpaid', 'in process' ]
    = f.input :kind_ids, as: :select, collection: Kind.all, input_html: {multiple: true}
    = f.input :priority
    = f.input :description

  = f.button :submit
