.kind-content
  .ul-content
    %ul.prices
      %li.bar-price
        = "500"
      %li.bar-price
        = "400"
      %li.bar-price
        = "300"
      %li.bar-price
        = "200"
      %li.bar-price
        = "100"
      %li.bar-price
        = "0"

    %ul.content-names
      - records.each do |kind|
        .namez
          %li.bar
            .bar-tag{ style: "height: #{kind.price/2}px"}
          %li.bar-name= kind.name
