= simple_form_for unicorn do |f| 
  .input-row
    = f.input :first_name
    = f.input :age
    = f.input :horn_length
    = f.input :height
    = f.input :weight
    = f.input :kinship_id, as: :select, collection: Kinship.all

    = f.button :submit
