<h1>Edit Unicorn</h1>

<%= form_for(@unicorn) do |f| %>

	<p>
		<%= f.label :first_name %><br>
		<%= f.text_field :first_name, class: "textfield" %>
	</p>

	<p>
		<%= f.label :age %><br>
		<%= f.text_field :age, class: "textfield" %>
	</p>

	<p>
		<%= f.label :horn_length %><br>
		<%= f.text_field :horn_length, class: "textfield" %>
	</p>

	<p>
		<%= f.label :height %><br>
		<%= f.text_field :height, class: "textfield" %>
	</p>

	<p>
		<%= f.label :weight %><br>
		<%= f.text_field :weight, class: "textfield" %>
	</p>

	<p>
		<%= f.submit :Save, class: "sumbit" %>
	</p>

<% end %>