<%= link_to 'Home', home_path %>

<h1>Listing unicorns</h1>

<table>
   <tr>
    <th>Full name</th>
    <th>Age</th>
    <th>Horn length</th>
    <th>Height</th>
    <th>Weight</th>
  </tr>

  <% @unicorns.each do |unicorn| %>

    <tr>
      <td><%= link_to unicorn.full_name, unicorn_path(unicorn) %></td>
      <td><%= unicorn.age %></td>
      <td><%= unicorn.horn_length %></td>
      <td><%= unicorn.height %></td>
      <td><%= unicorn.weight %></td>
    </tr>

    <% end %>
  <%= link_to 'New unicorn', new_unicorn_path %>
</table>
