<div class="wrapper">
<h1>New Unicorn</h1>

<%= form_for @unicorn, url: unicorns_path do |f| %>

	<p>
		<%= f.label :first_name %><br>
		<%= f.text_field :first_name, class: "textfield" %>
	</p>

	<p>
		<%= f.label :age %><br>
		<%= f.number_field :age, class: "textfield" %>
	</p>

	<p>
		<%= f.label :horn_length %><br>
		<%= f.number_field :horn_length, class: "textfield" %>
	</p>

	<p>
		<%= f.label :height %><br>
		<%= f.number_field :height, class: "textfield" %>
	</p>

	<p>
		<%= f.label :weight %><br>
		<%= f.number_field :weight, class: "textfield" %>
	</p>

	<p>
		<%= f.select :kinship_id, options_for_select(Kinship.all.collect{ |kinship| [kinship.name, kinship.id]}) %>
	</p>

	<p>
		<%= f.submit :Save, class: "submit" %>
	</p>

<% end %>