.wrapper
  %h1= t('.title', name: @unicorn.first_name)

  .row
    .attribute#full-name
      = attribute_name @unicorn, :full_name
    .value
      = @unicorn.full_name
  .row
    .attribute#age
      = attribute_name @unicorn, :age
    .value
      = @unicorn.age
  .row
    .attribute#horn-length
      = attribute_name @unicorn, :horn_length
    .value
      = @unicorn.horn_length
  .row
    .attribute#height
      = attribute_name @unicorn, :height
    .value
      = @unicorn.height
  .row
    .attribute#weight
      = attribute_name @unicorn, :weight
    .value
      = @unicorn.weight

  = link_to t('.edit'), edit_unicorn_path(@unicorn)
  = link_to t('.destroy'), @unicorn, method: :delete, data: { confirm: t('.confirm') }
