<a href="http://localhost:3000/unicorns">Back to unicorn list</a>

<h1><%= "Unicorn(#{@unicorn.first_name})" %></h1>

		<div class="row">
			<div class="attribute" id="id">ID:</div>
			<div class="value"><%= @unicorn.id %></div>
		</div>
		<div class="row">
			<div class="attribute" id="name">First name:</div>
			<div class="value"><%= @unicorn.first_name %></div>
		</div>
		<div class="row">
			<div class="attribute" id="age">Age:</div>
			<div class="value"><%= @unicorn.age %></div>
		</div>
		<div class="row">
			<div class="attribute" id="horn_lenght">Horn_length:</div>
			<div class="value"><%= @unicorn.horn_length %></div>
		</div>
		<div class="row">
			<div class="attribute" id="height">Height:</div>
			<div class="value"><%= @unicorn.height %></div>
		</div>
		<div class="row">
			<div class="attribute" id="weight">Weight:</div>
			<div class="value"><%= @unicorn.weight %></div>
		</div>
		<%= link_to 'Edit information', edit_unicorn_path(@unicorn) %>
