= simple_form_for pet do |f| 
  .input-row
    = f.input :name
    = f.input :eye_color
    = f.input :favourite_food
    = f.input :unicorn_id, as: :select, collection: (Unicorn.all.collect{ |unicorn| [unicorn.first_name, unicorn.id]})
    = f.button :submit
