.wrapper
  %h1= t('.title', name: @pet.pet_name)

  .row
    .attribute#pet-name
      = table_attribute_name Pet, :pet_name
    .value
      = @pet.pet_name

  .row
    .attribute#eye-color
      = table_attribute_name Pet, :eye_color
    .value
      = @pet.eye_color

  .row
    .attribute#fav-food
      = table_attribute_name Pet, :favourite_food
    .value
      =@pet.favourite_food

  = link_to t('.edit'), edit_pet_path(@pet)
  = link_to t('.destroy'), @pet, method: :delete, data: { confirm: t('.confirm') }
