.wrapper
  %h1= t('.title', name: @pet.name)

  .row
    .attribute#pet-name
      = attribute_name @pet, :name
    .value
      = @pet.name

  .row
    .attribute#eye-color
      = attribute_name @pet, :eye_color
    .value
      = @pet.eye_color

  .row
    .attribute#fav-food
      = attribute_name @pet, :favourite_food
    .value
      =@pet.favourite_food

  = link_to t('.edit'), edit_pet_path(@pet)
  = link_to t('.destroy'), @pet, method: :delete, data: { confirm: t('.confirm') }
