= simple_form_for user do |f| 
  .input-row
    = f.input :name
    = f.input :email
    = f.input :password
    = f.input :password
    = f.input :password_confirmation
    = f.input :age
    = f.input :description, as: :text
    = f.button :submit
