.home_wrapper
  %h1
    = t('.welcome') 

    .row
      .attribute#unicorn-list
        = t('.see_unicorn_list') 
      .value
        = link_to t('.unicorn_list'), unicorns_path

    .row
      .attribute#new-unicorn
        = t('.add_unicorn') 
      .value
        = link_to t('.new_unicorn'), new_unicorn_path

    .row
      .attribute#kinship-list
        = t('.see_kinship_list') 
      .value
        = link_to t('.kinship_list'), kinships_path

    .row
      .attribute#new-kinship
        = t('.add_kinship')
      .value
        = link_to t('.new_kinship'), new_kinship_path 

    .row
      .attribute#pet-list
        = t('.see_pet_list')
      .value
        = link_to t('.pet_list'), pets_path

    .row
      .attribute#new-pet
        = t('.add_pet')
      .value
        = link_to t('.new_pet'), new_pet_path
