.wrapper
  .login
    = link_to t('.new'), new_subject_path
    
  %h1= t('.title')

  %table
    %tr
      %th= table_attribute_name Subject, :name
      %th= table_attribute_name Subject, :room

    - @subjects.each do |subject| 
      %tr
        %td= link_to subject.name, subject_path(subject)
        %td= subject.room
