.wrapper
  %h1= t('.title', name: @subject.name)

  .row
    .attribute#subject-name
      = attribute_name @subject, :name
    .value
      = @subject.name

  .row
    .attribute#room
      = attribute_name @subject, :room
    .value
      = @subject.room

  = link_to t('.edit'), edit_subject_path(@subject)
  = link_to t('.destroy'), @subject, method: :delete, data: { confirm: t('.confirm') }
