= simple_form_for kinship do |f| 
  .input-row
    = f.input :name
    = f.input :colorful, as: :boolean, input_html: { checked: true }

    .color-box
      = f.input :color_id, as: :select, collection: [], selected: ['']
    = f.input :description

    = f.button :submit

