.wrapper
  %h1= t('.edit')

  = form_for @kinship, url: kinship_path(@kinship) do |f| 
    .input_row
      = f.label :name 
      = f.text_field :name, class: 'textfield' 

    .input_row
      = f.label :color 
      = f.text_field :color, class: 'textfield' 

    .input_row
      = f.label :description 
      = f.text_area :description, class: 'textarea' 

    .input_row
      = f.submit :Save, class: 'submit'
