.wrapper
  %h1= t('.title', name: @kinship.name)

  .row
    .attribute#name
      = table_attribute_name Kinship, :name
    .value
      = @kinship.name

  .row
    .attribute#description
      = table_attribute_name Kinship, :description 
    .value
      = @kinship.description 

  = link_to t('.edit'), edit_kinship_path(@kinship) 
  = link_to t('.destroy'), @kinship, method: :delete, data: { confirm: t('.confirm') }
