<a href="http://localhost:3000/kinships">Back to kinship list</a>

<h1>Kinship</h1>

  <div class="row">
    <div class="attribute" id="id">ID:</div>
    <div class="value"><%= @kinship.id %></div>
  </div>
  <div class="row">
    <div class="attribute" id="name">Name:</div>
    <div class="value"><%= @kinship.name %></div>
  </div>
  <div class="row">
    <div class="attribute" id="color">Color:</div>
    <div class="value"><%= @kinship.color %></div>
  </div>
  <div class="row">
    <div class="attribute" id="description">Description:</div>
    <div class="value"><%= @kinship.description %></div>
  </div>
  <%= link_to 'Edit information', edit_kinship_path(@kinship) %>