.wrapper
  %h1= t('.title', name: @kinship.name)

  .row
    .attribute#name
      = attribute_name @kinship, :name
    .value
      = @kinship.name

  .row
    .attribute#color
      = attribute_name @kinship, :color
    .value
      = @kinship.color.name

  .row
    .attribute#description
      = attribute_name @kinship, :description 
    .value
      = @kinship.description 

  = link_to t('.edit'), edit_kinship_path(@kinship) 
  = link_to t('.destroy'), @kinship, method: :delete, data: { confirm: t('.confirm') }
