.wrapper
  %h1= t('.school_list')

  %table
    %tr
      %th= table_attribute_name School, :school_name
      %th= table_attribute_name School, :location

    - @schools.each do |school| 
      %tr
        %td= link_to school.school_name, school_path(school)
        %td= school.location

  = link_to t('.new_school'), new_school_path
