.wrapper
  %h1= t('.title', name: @school.name)

  .row
    .attribute#school-name
      = attribute_name @school, :name
    .value
      = @school.name

  .row
    .attribute
      = attribute_name @school, :location
    .value
      = @school.location

  = link_to t('.edit'), edit_school_path(@school)
  = link_to t('.destroy'), @school, method: :delete, data: {confirm: t('.confirm') }
