.menu_wrapper
  - if current_user
    %ul
      %li= link_to t('.unicorn_list'), unicorns_path
      %li= link_to t('.kinship_list'), kinships_path
      %li= link_to t('.pet_list'), pets_path
      %li= link_to t('.school_list'), schools_path
      %li= link_to t('.subject_list'), subjects_path
      
    %ul
      %li= link_to t('.lv'), url_for(locale: :lv) 
      %li= link_to t('.en'), url_for(locale: :en)

    %ul
      %li= current_user.email
      %li.login= link_to t('.log_out'), log_out_path, method: :delete
