!!!
%html
%head
  %title= Myapp
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags 

%body
  = link_to t('.lv'), url_for(locale: :lv) 
  = link_to t('.en'), url_for(locale: :en) 
  -flash.each do |key, value| 
    - if [:key, :value] 
      .flash
        %div{ class: "meh-#{key}"}
        =value

  = yield 
  = image_tag("unicorn.jpg") 
