<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
<% if [:key, :value] %>
	<div class="flash">
		<div class="meh-<%= key %>"><%= value %></div>
	</div>
<% else %>
<% end %>
<% end %>

<%= yield %>
<%= image_tag("unicorn.jpg") %>

</body>
</html>
