!!!
%html
%head
  %title= Myapp
  = stylesheet_link_tag 'application', media: 'all'
  = csrf_meta_tags 

%body
  -flash.each do |key, value| 
    - if [:key, :value] 
      .flash
        %div{ class: key }
          = value

  = render partial: 'layouts/menu'

  = yield 

  = javascript_include_tag "application"
  = image_tag("unicorn.jpg") 
